
/* Reset CSS */
html, body { 
  margin: 0 ;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  margin: 15px 0;
}

/* Example Page Layout */
.example-page-layout {
  padding: 20px;
}
.example-page-layout .wrapper {
  display: flex;
}
.example-page-layout .sidebar {
  flex: 1 1 30%;
  padding: 10px;
  background-color: green;
}
.example-page-layout .content {
  padding: 10px;
  flex: 1 1 70%;
}


.example-gallery-simple-layout {
  padding: 20px;
}
.example-gallery-simple-layout img {
  max-width: 100%;
  border-radius: 10px;
}
.example-gallery-simple-layout .wrapper {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.example-gallery-simple-layout .wrapper li {
  flex: 1 1 250px;
  box-sizing: border-box;
  padding: 1em;
  font-size: 12px;
  font-style: italic;
}
