
/* Reset CSS */
html, body { 
  margin: 0 ;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

.my-parent{
  background-color: #039BE5;
  display: flex;
}

.box{
  background-color: #01579B;
  width: 50px; 
  height: 50px;
  margin: 5px;
  color: white;
}