
/* Reset CSS */
html, body { 
  margin: 0 ;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  margin: 15px 0;
}

main {
  padding: 10px;
}

.flexbox-container {
  background-color: #039BE5;
  display: flex;
  margin-bottom: 30px;
}

.flexbox-item {
  background-color: #01579B;
  width: 50px; 
  height: 50px;
  margin: 5px;
  color: white;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-column {
  flex-direction: column;
}

.flex-dir-row-reverse {
  flex-direction: row-reverse;
}

.flex-dir-column-reverse {
  flex-direction: column-reverse;
}