
/* Reset CSS */
html, body { 
  margin: 0 ;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  margin: 15px 0;
}

main {
  padding: 10px;
}

.flexbox-container {
  background-color: #039BE5;
  display: flex;
  margin-bottom: 30px;
}

.flexbox-item {
  background-color: #01579B;
  width: 50px; 
  height: 50px;
  margin: 5px;
  color: white;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-column {
  flex-direction: column;
}

.flex-dir-row-reverse {
  flex-direction: row-reverse;
}

.flex-dir-column-reverse {
  flex-direction: column-reverse;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap .flexbox-item,
.flex-no-wrap .flexbox-item,
.flex-flow-1 .flexbox-item,
.flex-flow-2 .flexbox-item {
  width: 200px;
}

.flex-flow-1 {
  flex-flow: nowrap row-reverse;
}

.flex-flow-2 {
  flex-flow: wrap row;
}

div[class*="justify-content"],
div[class*="align-items"] {
  height: 200px;
}
div[class*="justify-content"] .flexbox-item,
div[class*="align-items"] .flexbox-item {
  width: 50px;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}
.align-items-strech {
  align-items: stretch;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}
div[class*="align-items-strech"] .flexbox-item {
  height: auto;
}

.align-self-combination-1 .flexbox-item:nth-child(1){
  align-self: flex-start;
}
.align-self-combination-1 .flexbox-item:nth-child(2){
  align-self: center;
}
.align-self-combination-1 .flexbox-item:nth-child(3){
  align-self: flex-end;
}
.align-self-combination-1 .flexbox-item:nth-child(4){
  align-self: stretch;
}

.flex-grow-combination-1.justify-content-space-between .flexbox-item {
  width: auto;
  flex-grow: 1;
}
.flex-grow-combination-1 .flexbox-item:nth-child(2){
  flex-grow: 2;
}
.flex-grow-combination-1 .flexbox-item:nth-child(3){
  flex-grow: 3;
}
.flex-grow-combination-1 .flexbox-item:nth-child(4){
  flex-grow: 4;
}


.flex-shrink-combination-1.justify-content-space-between {
  flex-flow: row nowrap;
  width: 400px;
}
.flex-shrink-combination-1.justify-content-space-between .flexbox-item {
  width: 200px;
  flex-shrink: 1;
}
.flex-shrink-combination-1 .flexbox-item:nth-child(3){
  flex-shrink: 3;
}